/* ============ only desktop view for dropdown menus | Omonjon ============ */
@media all and (min-width: 992px) {
}

@media (max-width: 991px) {
}

/* ============ desktop view .end// ============ */
@media (max-width: 767px) {
    .scroll_up {
        right: 1rem;
    }
}

@media (max-width: 575px) {
    .video__button{
        width: 40px;
        height: 40px;
    }
    .video__button-icon{
        font-size: 1.5rem;
    }
}