/* ============ only desktop view for dropdown menus | Omonjon ============ */
@media (min-width: 1400px) {
    .header .container-self {
        max-width: 1440px !important;
    }
}
@media all and (max-width: 1399px) {
    .header .swiper-button-prev {
        left: 92.7% !important;
    }
}

@media (max-width: 1199px) {
    .rounded-circle-mb {
        border-radius: 50% !important;
        padding: 10px !important;
    }

    .header .swiper-button-prev {
        left: 91% !important;
    }
}

@media (max-width: 991px) {
    .header .swiper-button-prev {
        left: 88% !important;
    }
}

/* ============ desktop view .end// ============ */
@media (max-width: 767px) {
    .scroll_up {
        right: 1rem;
    }

    .header .swiper-button-prev {
        left: 84% !important;
    }

    .offcanvas.offcanvas-top {
        height: 250px;
    }
}

@media (max-width: 575px) {
    .offcanvas.offcanvas-top {
        height: 350px;
    }
}

@media (max-width: 390px) {
    .header .nav-item-top.dropdown {
        display: none;
    }

    .offcanvas .nav-item-top.dropdown {
        display: block !important;
    }
}