/* Fonts | Omonjon */
@import url(./fonts.css);

/* Bootstrap tools | Omonjon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-radius: 12px;
    --primary-transition: 0.37s;
}

body {
    font-family: 'Geist regular', sans-serif;
    font-size: 1rem;
    background-color: #fafafa;
}

.line-h-initial {
    line-height: initial;
}

.primary-radius {
    border-radius: var(--primary-radius) !important;
}

label {
    cursor: pointer;
}

.px-20px {
    padding-right: 20px;
    padding-left: 20px;
}

.py-12px {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pb-12px {
    padding-bottom: 12px;
}

.pt-12px {
    padding-top: 12px;
}

.primary-border {
    border: 1px solid #EFEFEF
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    cursor: default;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.accordion-button::after {
    display: none;
}

button[aria-expanded^="true"] i {
    background-color: var(--bs-primary) !important;
    transform: rotate(-180deg) !important;
    color: black !important;
    box-shadow: 0px 8px 18px -8px rgba(116, 246, 0, 0.90);
}

.box-shadow-none {
    box-shadow: none !important;
}

.primary-shadow {
    box-shadow: 0 4px 8px 0 #00000008;
}

.h-72px {
    height: 72px;
}

.hover-link:hover {
    color: #737373 !important;
}

.btn-primary:hover {
    background-color: #01B57F;
    border-color: #01B57F;
}

.btn-secondary:hover {
    background-color: #F03663;
    border-color: #F03663;
}

.btn-white:hover {
    background-color: #FAFAFA;
}

.text-gray {
    color: var(--bs-gray);
}

.bg-gray {
    background: #EFF2FC;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-white {
    border: 1px solid #EFEFEF !important;
    background: white;
    box-shadow: 0 4px 8px 0 #00000008;
    color: black;
}

.disabled {
    color: #A3A3A3 !important;
    background-color: #0A0A0A08 !important;
    opacity: 1 !important;
    border-color: #DDDDDD !important
}

.btn.disabled {
    color: #A3A3A3;
    background-color: #0A0A0A08;
    opacity: 1;
    border-color: #DDDDDD
}

.border-end-dashed {
    border-right: 1px dashed var(--bs-border-color);
}

.border-start-dashed {
    border-left: 1px dashed var(--bs-border-color);
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.fs-6 {
    font-size: 1.125rem !important;
}

.fs-7 {
    font-size: 1rem !important;
}

.fs-8 {
    font-size: 0.875rem !important;
}

.fs-9 {
    font-size: 0.75rem !important;
}

.border-top-dashed {
    border-top: 1px dashed var(--bs-border-color);
}

.w-max-content {
    width: max-content !important;
}

.opacity-7 {
    opacity: 0.7;
}

.outline-none {
    outline: none;
}

.transition {
    transition: .3s !important;
}

.fs-title {
    font-size: 2.25rem;
}

.fs-title-sec {
    font-size: 1.625rem;
}

input,
button {
    outline: none;
    border: 0;
}

.container-mini {
    max-width: 744px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.dropdown-arrow::after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    border-left: initial !important;
    border-top: initial !important;
    content: "";
    display: block;
    height: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 2px;
    top: 55%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    /* transition: all .15s ease-in-out; */
    transition: var(--primary-transition);
    width: 6px;
}

.dropdown-arrow.show::after {
    transform: rotate(-135deg);
}

.border-none {
    border: none;
}

.primary-hover:hover {
    opacity: 1;
}

.btn {
    border: none;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 160, 112, .25);
    border-color: var(--bs-primary);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-select {
    --bs-form-select-bg-img: url(../images/svg/top-bottom-arrow.svg);
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* ==================== MODALS | Omonjon ==================== */
.modal-header .btn-close {
    background: none;
    opacity: 100 !important;
    color: var(--bs-black);
    margin: 0;
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 160, 112, .25);
}

/* ==================== HEADER | Omonjon ==================== */
#myHeader {
    background-color: transparent;
}

.header .dropdown-menu {
    min-width: auto;
    position: absolute;
    inset: 0 auto auto 0;
    margin: 0;
    transform: translate(0px, 26px);
}

.header .dropdown-item:hover {
    color: black;
    background-color: #00A0700D;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    background: white !important;
    z-index: 10;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header .swiper-button-prev:after,
.header .swiper-button-next:after {
    content: '';
}

.header .swiper-button-prev {
    left: 92.7% !important;
}

.header .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--bs-primary);
}

/* ==================== CALCULATOR SECTION | Omonjon ==================== */
.nav-tabs .nav-link {
    padding: 8px 16px;
    background-color: #0A0A0A08;
    column-gap: 8px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
}

.form-label {
    margin-left: 6px;
}

input[readonly] {
    color: #A3A3A3 !important;
    background: #0A0A0A08;
    border: 1px solid #DDDDDD;
}

.checkbox-label {
    position: relative;
    padding-left: 30px;
}

.checkbox-label::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    transition: var(--primary-transition);
    border-radius: 8px;
}

input:checked ~ .checkbox-label:after {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
}

/* Checkmark */
.checkbox-label::before {
    content: "";
    position: absolute;
    display: none;
    left: 7.5px;
    top: 3px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
    transition: var(--primary-transition);
}

/* Display checkmark when checked */
input:checked ~ .checkbox-label::before {
    display: block;
}

input[readonly]:focus {
    box-shadow: none;
    border-color: #DDDDDD;
    background-color: #0A0A0A08;
}

input[type=radio] {
    -webkit-appearance: none; /* Remove default checkbox style on Safari */
    -moz-appearance: none; /* Remove default checkbox style on Firefox */
    appearance: none; /* Remove default checkbox style on other browsers */
}

.radio-label {
    padding-left: 30px;
    position: relative;
}

.radio-label::after {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #EFEFEF;
    background: var(--bs-white);
    box-shadow: 0 1px 1px 0 #00000008;
    transition: var(--primary-transition);
}

.radio-label::before {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    width: 8px;
    height: 8px;
    border: 6px solid white;
    border-radius: 50%;
    transition: var(--primary-transition);
}

input[type=radio]:checked ~ .radio-label:after {
    background: var(--bs-primary);
    box-shadow: none;
}

input[type=radio]:checked ~ .radio-label:before {
    display: block;
    top: 6px;
    left: 6px;
    border: 4px solid var(--bs-white);
    z-index: 2;
}

input[type=date] {
    padding: 8px 40px !important;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
    }

    &::after {
        left: 12px;
        background: url("../images/svg/calendar.svg") no-repeat center/contain;
    }

    &::before {
        top: 12px;
        width: 16px;
        height: 16px;
        right: 12px;
        background: url("../images/svg/top-bottom-arrow.svg") no-repeat center/contain;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=checkbox] {
    -webkit-appearance: none; /* Remove default checkbox style on Safari */
    -moz-appearance: none; /* Remove default checkbox style on Firefox */
    appearance: none; /* Remove default checkbox style on other browsers */
}

.checkbox-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    transition: var(--primary-transition);
}

input[type=checkbox]:checked ~ .checkbox-child {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
}

.services-box:has(:checked) {
    border: 1px solid var(--bs-primary);
    background-color: white;
    box-shadow: 0 0 0 0.25rem rgba(0, 160, 112, .25);
}

/* Checkmark */
.checkbox-child::after {
    content: "";
    position: absolute;
    display: none;
    left: 6.5px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: var(--primary-transition);
}

/* Display checkmark when checked */
input[type=checkbox]:checked ~ .checkbox-child::after {
    display: block;
}

.services-box {
    border: 1px solid #DC30551A;
    background-color: #DC30550D;
    min-height: 400px;
    transition: var(--primary-transition);
}

.services-box:hover {
    border: 1px solid var(--bs-primary);
    background-color: white;
    box-shadow: 0 0 0 0.25rem rgba(0, 160, 112, .25);
}

.bg-secondary-light {
    border: 1px solid #DC30551A;
    background-color: #DC30550D;
    padding: 10px 12px;
}

.nav-tabs .nav-link svg path {
    fill: transparent;
    stroke: var(--bs-gray);
    stroke-width: 1.5;
}

.nav-tabs .nav-link.active {
    background: var(--bs-white);
    border: 1px solid #EFEFEF;
}

.nav-tabs .nav-link.active svg path {
    stroke: var(--bs-primary);
}

.pay-amount {
    padding: 8px 10px;
}

.car-num {
    width: 200px;
}

.tech-pas {
    position: relative;
    max-width: 64px;
    width: 100%;
}

.tech-pas label {
    position: absolute;
    left: 4px;
    white-space: nowrap;
}

.tech-pas input {
    margin-top: 30px;
}

.tech-pas-num {
    width: 158px;
}

.ins-type {
    width: 196px;
}

.calc-btn button {
    padding: 8px 12px !important;
}

.form-control,
.form-select {
    border: 1px solid #EFEFEF;
    box-shadow: 0 4px 8px 0 #00000008;
    border-radius: 12px;
    padding: 8px 12px !important;
}

.form-control::placeholder {
    color: #A3A3A3;
    font-size: 16px;
    line-height: 24px;
}

input[type='radio'] {
    accent-color: var(--bs-primary);
}

.calc-result {
    padding: 8px 16px;
    box-shadow: 0 4px 8px 0 #00000008;
    border: 1px solid #EFEFEF;
}

.calc-result-img {
    max-width: 160px;
    width: 100%;
    height: 48px;
}

/*=============== APP SECTION | Omonjon ===============*/
.app-section .app-box {
    max-width: 744px;
    width: 100%;
    border: 1px solid #00A0701A;
    column-gap: 32px;
    background-color: #EDF6F3;
}

/*=============== ABOUT SECTION | Omonjon ===============*/
.about-section .about-icons {
    width: 48px;
    height: 48px;
}

/*=============== PARTNERS SECTION | Omonjon ===============*/
.container-mini .swiper-slide {
    height: 48px;
}

/*=============== HOW WORK SECTION | Omonjon ===============*/
.how-work .how-work-line {
    top: 30px;
    right: -90px;
}


/*=============== SCROLL BAR | Omonjon ===============*/
.footer .btn-footer {
    padding: 12px 20px;
}

.footer .social-btn {
    padding: 14px;
}

/*=============== SCROLL BAR | Omonjon ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsla(93, 36%, 26%, 0.71)
}

::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-secondary);
}

/*=============== SCROLL UP | Omonjon ===============*/
.scroll_up {
    position: fixed;
    right: 3.5rem;
    bottom: -100%;
    background-color: var(--bs-primary);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--bs-white);
    z-index: 10;
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scroll_up:hover {
    transform: translateY(-.35rem);
    background-color: var(--bs-secondary);
    color: var(--bs-white);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 4rem;
}

/* Emergency page */
.emergency-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}