.container-small {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
}

.signIn-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-hide {
    position: absolute;
    top: 57%;
    font-size: 20px;
    right: 15px;
    cursor: pointer;
}

.checkbox-label {
    position: relative;
    padding-left: 30px;
}

.checkbox-label::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    transition: var(--primary-transition);
    border-radius: 8px;
}

input:checked ~ .checkbox-label:after {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
}

/* Checkmark */
.checkbox-label::before {
    content: "";
    position: absolute;
    display: none;
    left: 7.5px;
    top: 3px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
    transition: var(--primary-transition);
}

/* Display checkmark when checked */
input:checked ~ .checkbox-label::before {
    display: block;
}

.btn-refresh {
    padding: 10px;
}