.container-small {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
}

.signIn-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-hide {
    position: absolute;
    top: 57%;
    font-size: 20px;
    right: 15px;
    cursor: pointer;
}

.btn-refresh {
    padding: 10px;
}